@model InvoicePrototype.Models.FullAndPartialViewModel
@if(Model.InvoiceRow!=null){
<tr>
    <td style="text-align:center;">@Model.InvoiceRow.Index</td>
    <td style="text-align:center;">@Model.InvoiceRow.Description</td>
    <td style="text-align:center;">@Model.InvoiceRow.Quantity</td>
    <td style="text-align:center;">@Model.InvoiceRow.UnitPrice</td>
    <td style="text-align:center;">@Model.InvoiceRow.Tax</td>
    <td style="text-align:center;">@(Model.InvoiceRow.Tax * Model.InvoiceRow.Quantity) </td>
    <td style="text-align:center;">@(Model.InvoiceRow.Quantity * Model.InvoiceRow.UnitPrice)</td>
</tr>
}